.yom-related-story-module {

    margin-bottom: 20px;
    font-size: 13px;

    h2 {
        font-size: 120%;
        line-height: 150%;
        margin-bottom: 10px;
    }

    .list-item {
        position: relative;
        overflow: hidden;
        zoom: 1;
        display: block;
        margin-bottom: 10px;
        a {
            margin-right: 6px;
        }
        .source {
            color: #1e7d8e;
        }
    }

    &.sidekick {
        h2 {
            font-size: 18px;
            font-weight: 200;
        }
        ol {
            padding-left: 20px;
            font-size: 14px;
        }
        .list-item {
            list-style: inherit;
            overflow: visible;
            display: list-item;

            .source {
                color: #888888;
                font-size: 11px;
            }
        }
    }
}
.sidekick-css-override {
    &.yom-related-story-module.sidekick {
        a {
            color: #091e42;
            font-size: 14px;
        }
        a:hover {
            color: #0c99f7;
            text-decoration: none;
        }
        a:visited {
            color: #000;
        }
    }
}
