@media all {

.footer-info {
    margin: 10px 0px 10px 10px;
    font-size: 90%;
    cite {
        display: block;
        font-size: 100%;
        color: inherit;
    }
    ul {
        margin-top: 10px;
    }
    li {
        display: inline-block ;
        margin-right: 10px;
    }
    
}

.yog-smartphone .footer_info {
}
}
