/** 
 * Version Manifest Info:
 * @vm generic_name: tie-header-modal
 * @vm dimensions: device=tablet
 */

@media all {

    .yom-tie-header {
        padding: 12px;

        .tie-title{
            &.control-room-social-bar {
                overflow: hidden;
                .social-bar-header{
                    max-width:86%;
                    float: left;
                }
            }
            h2 {
                font-size: 150%;
            }
        } 
        .yom-share-btns-container.light {
            float: right;
            min-width: 138px;
        }
 
    }
}
