/** 
 * Version Manifest Info:
 * @vm generic_name: tie-header-modal
 * @vm dimensions: device=desktop
 */
@media all {
  .yom-tie-header {
    padding: 0 0 10px 0;
  }
  .yom-tie-header .tie-title.control-room-social-bar {
    overflow: hidden;
  }
  .yom-tie-header .tie-title.control-room-social-bar .social-bar-header {
    max-width: 69%;
    float: left;
  }
  .yom-tie-header .tie-title h1 {
    font-size: 150%;
  }
  .yom-tie-header .yom-share-btns-container.light {
    float: right;
    min-width: 138px;
  }
}
